@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital@1&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  .header-title {
    color: orange;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

    .header-subtitle {
      font-size: 20px;
      margin: 15px 0 0 0;
    }
  }
}